### Assignment 1 Description
#### Step 1: Pick a data set from https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html and load the zillow.csv into a dataframe

In [3]:
import pandas as pd
import numpy as np

hwData = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_25000.csv')
zillowData = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/zillow.csv')

In [5]:
zillowData.isna()

,Index,"""Living Space (sq ft)""","""Beds""","""Baths""","""Zip""","""Year""","""List Price ($)"""
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False

#### Step 2: Clean dataframe by replacing missing data
##### Print the count missing value in each column (# of True vs # of False)
##### Convert all non categorical data to type int or float

In [7]:
## Creating the missing data set DF that will show true or false
zillowMissingData = zillowData.isna()

In [8]:
## Logic that loops through the columns and shows the results in tabular form for each column
## In this case, since we are concerned about missing data, this will show us how many missing (True) or non-missing (False) values are present
## There doesnt look to be any missing data for the zillow.csv data set
for column in zillowMissingData.columns.values.tolist():
    print(column)
    print (zillowMissingData[column].value_counts())
    print("")

Index
False    20
Name: Index, dtype: int64

 "Living Space (sq ft)"
False    20
Name:  "Living Space (sq ft)", dtype: int64

 "Beds"
False    20
Name:  "Beds", dtype: int64

 "Baths"
False    20
Name:  "Baths", dtype: int64

 "Zip"
False    20
Name:  "Zip", dtype: int64

 "Year"
False    20
Name:  "Year", dtype: int64

 "List Price ($)"
False    20
Name:  "List Price ($)", dtype: int64

In [10]:
## Looks like all the data is already in integer or float fornm
zillowData.dtypes

Index                        int64
 "Living Space (sq ft)"      int64
 "Beds"                      int64
 "Baths"                   float64
 "Zip"                       int64
 "Year"                      int64
 "List Price ($)"            int64
dtype: object

#### Step 3: Find the correlation of all columns that have type int or float

#### Step 4: Use Seaborn to plot one variable and the output to vizualize the correlation
##### Do this for 3 different variables
##### Hint: Use variables that are highly correlated to the output column.

#### Step 5: Pick a column with categorical data and create a box plot representing the unique values
##### Print all the unique values in the column
##### Create the box plot